form label {
  margin-bottom: unset !important;
}

form label:not(:first-child) {
  margin-top: 20px;
}

.toggle {
  display: block !important;
}

.toast {
  position: absolute;
  top: 55px;
  left: 0;
}

.success {
  background-color: #4BCA81;
  color: #FFF;
  width: 200px;
}

.error {
  background-color: #ff0033;
  color: #FFF;
}


.toast-header {
  background-color: unset;
  color: #FFF;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.toast-body {
  font-weight: bold;
}


.widthCardUser {
  width: 18rem;
}

#formArticle {
  display: none;
}

#articlesAssocies {
  display: none;
}

.unArticle {
  width: 300px;
}


.btnSwitchInArticle {
  display: none;
  width: 100%;
}